html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    height: 120px;
    width: 100%;
    background: linear-gradient(-180deg, #f53d2d, #f63);
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.container {
    max-width: 1200px;
}

.v-center {
    display: flex;
    width: 50%;
}

.v-center li {
    color: white;
    margin: 0 5px;
    padding-right: 5px;
}

.navbar__links {
    display: flex;
}

.navbar__links li {
    color: white;
}

.bd-right {
    border-right: solid 1px hsla(0, 0%, 100%, .22);
}

.navbar__links .bd-right {
    margin: 0 5px;
    padding-right: 5px;
}

.bx-globe {
    margin-left: 12px;
}

.logo {
    width: 10%;

}

.search {
    width: 70%;
    height: 43px;
    background-color: white;

}

.shopee-searchbar {
    padding: 3px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search input {
    width: 91%;
    height: 100%;
    border: none;
    outline-offset: 10px;
    padding: 0 8px;
}

.search button {
    min-width: 60px;
    max-width: 190px;
    background: #fb5533;
    border-radius: 5px;
    border: none;
}

.search button .bx-search {
    color: white;
}

.bx-cart-alt {
    font-size: 30px;
}

.cart {
    width: 10%;
    margin-top: 13px;
    color: white;
}

.search ul {
    display: flex;
}

.search ul li {
    font-size: 13px;
    color: white;
    margin: 10px 15px 0 0;
}

.full-home-banners {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.caroucel {
    width: calc(67% - 3px);
}

.right-wrapper {
    width: calc(33.2% - 3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edy5hG img {
    width: 100%;
}

.dNmwQY {
    width: 45px;
    margin: 0 auto;
}

.dNmwQY img {
    width: 45px;
}

.KSe2W7 {
    text-align: center;
    font-size: 14px;
}

.section-banner {
    margin-bottom: 40px;
}

.white {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    margin-bottom: 20px;
}

.Category {
    padding: 20px 10px;
    color: #8b8b8b;
}

.section__header {
    padding: 0 10px;
}

.see-all p {
    display: flex;
    align-items: center;
    color: #ee4d2d;
}

.button-next {
    float: right;
}

.carousel-arrow {
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-top: -12.5px;
    background-color: #fff;
    position: absolute;
}

._2JCOmq {
    flex-wrap: nowrap;
}

.card__image {
    height: 173px;
    width: 173px;
}

.coucher {
    text-align: center;
    margin-bottom: 15px;
}


.section__header__title {
    display: flex;
}

.shopee_mall {
    color: #d0011b;
    font-size: 18px;
    border-right: 1px solid rgb(245, 245, 245);
    padding-right: 10px;
}

.shopee_free {
    font-size: 20px;
    display: flex;
    margin-left: 15px;
}

.shopee_free i {
    color: #ee4d2d;
}

.section__content {
    display: flex;
    padding: 10px 20px 0 5px;
}

.item-card {
    text-align: center;
    padding: 10px 0;
    color: #ee4d2d;
    font-size: 20px;
}

.item-card span {
    font-size: 13px;
}

.wdSKrN {
    width: 30%;
}

.NTixlF {
    width: 70%;
    display: flex;
    align-items: center;
}

.NTixlF li {
    width: calc(25% - 5px);
}

.ofs-carousel {
    margin-left: 40px;
    font-size: 18px;
    color: #d0011b;
}

.carousel-arrow--hint-left {
    position: absolute;
    transform: translateX(calc(-50% - -15px));
}

.carousel-arrow--hint-right {
    transform: translateX(calc(50% - 40px));
}

.stardust-tabs-header {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__tab--active p {
    padding: 20px 30px;
}

.FA284N {
    border-bottom: 3px solid rgb(238, 77, 45);
    color: rgb(238, 77, 45);
}

.card-text {
    font-size: 14px;
}

.imdVqB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fepoRf {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.fepoRf p {
    color: #ee4d2d;
    font-size: 1rem
}

.card-in4 {
    padding: 10px;
}

.card-in4 p {
    margin-bottom: 5px;
}

.upl8wJ {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
}

._4beVMw {
    margin-bottom: 10px;
}

._6wTCb6 {
    display: flex;
    min-height: calc(100vh - 11.25rem);
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 0.3125rem;
}

body {
    background-color: #e8e8e8;
}

footer {
    border-top: 4px solid #ee4d2d;
}

._2ypCMv {
    padding-top: 40px;
    padding-bottom: 1.875rem;
    width: 75rem;
    margin: 0 auto;
}

.pFceVI {
    line-height: 1.7;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
}

.yIHLk6 {
    font-size: 12.5px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.see-more {
    color: #ee4d2d;
    display: flex;
}

.see-more p {
    margin-right: 10px;
}

.ElNplh {
    font-size: 13px;
    font-weight: 700;
    color: rgba(0, 0, 0, .54);
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}

.o8Gbgv {
    color: rgba(0, 0, 0, .54);
    font-size: 13px;
    margin-bottom: 0.75rem;
}

.jP2Pzh {
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    display: flex;
    width: 75rem;
    margin: 0 auto;
}

.m96EVm {
    color: rgba(0, 0, 0, .54);
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
}

.ijKib {
    margin-bottom: 20px;
}

.left {
    width: calc(35% - 15px);
}

.right {
    width: calc(70% - 10px);
}

.right p {
    text-align: center;
}

.PjIOU {
    background-color: #fbfbfb;
    width: 100%;
    padding-bottom: 25px;
}

.mVtqLd {
    width: 100%;
    background-color: #fff;
}

.d56atc {
    padding: 0 1.5625rem;
    border-right: 1px solid rgba(0, 0, 0, .09);
    text-transform: uppercase;
    font-size: .75rem;
}

.d5ndjsk {
    padding: 0 1.5625rem;
    text-transform: uppercase;
    font-size: .75rem;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

._4FDN71 {
    width: 100%;
    background: #f5f5f5;
}

.CpmibF {
    text-align: center;
}
.the-fold {
    background-color: white;
    padding: 5px;
    margin-bottom: 15px;
    display: flex;
}
.BV2E6Y {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    font-size: .75rem;
}
.bx-chevron-right{
    font-size: 20px;
}
.name-sp{
    display: flex;
    align-items: center;
}
.GZ2Hvh{
    background-image: url(https://cf.shopee.vn/file/5536e87fd3201f792e7bf0ba30db294f);
    /* position: absolute; */
    width: 450px;
    height: 450px;
    background-size: contain;
    margin-bottom: 10px;
}
.MBYzB2 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.sp-left{
    width: 40%;
}
.products img{
    width: 90%;
}
.img-products{
    margin-bottom: 10px;
}
.share{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}
.share-left{
    display: flex;
    align-items: center;
    border-right: solid 1px rgb(207, 206, 206);
    width: 50%;
}
.share-left p{
    font-size: 20px;
    margin-right: 10px;
}
.bxl-messenger{
    font-size: 27px;
    color: #0088ff;
}
.bxl-facebook-square{
    font-size: 27px;
    color: #0046ab;
}
.bxl-pinterest-alt{
    font-size: 27px;
    color: #ee4d2d;;
}
.bx-heart{
    color: #ee4d2d;;
}
.bxl-twitter{
    color: rgb(29, 155, 240);
}
.share-right{
    display: flex;
    align-items: center;
}
.share-right i{
    font-size: 20px;
    margin-right: 10px;
}
.share-right p{
    font-size: 20px;
}
.sp-right{
    width: 60%;
}
.imEX5V{
    display: flex;
    justify-content: space-between;
    width: 63%;
    margin-bottom: 5px;
}
.zCtnYl{
    width: calc(80% - 5px);
    font-size: 20px;
}
.qyTjha{
    padding: 5px;
    background-color: #ee4d2d;
    width: calc(18% - 5px);
}
.W2tD8{
    display: flex;
    width: 63%;
    margin-bottom: 5px;
}
.star{
    display: flex;
    padding-right: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.evaluate{
    padding: 0 15px;
    border-right: solid 1px rgba(0, 0, 0, 0.05);
}
.sold{
    padding-left: 15px;
}
.price{
    margin-bottom: 25px;
    display: flex;
    padding: 16px;
    background-color: #fafafa;
    color: #ee4d2d;
    width: 95%;
}
.price span{
    text-decoration: underline;
}
.price p{
    font-size: 29px;
}
.hInOdW{
    display: flex;
    width: 57%;
    justify-content: space-between;
    margin-bottom: 40px;
}
.transport{
    color: #757575;
}
.top{
    display: flex;
    margin-bottom: 5px;
}
.flex{
    display: flex;
}
.amount{
    display: flex;
    justify-content: space-between;
    width: 59%;
    margin-bottom: 20px;
}
.add_to_cart{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.cart2{
    border: 1px solid #ee4d2d;
    display: flex;
    padding: 15px;
    color: #ee4d2d;
    font-size: 19px;
}
.cart2 i{
    margin-right: 5px;
}
.btn-warning{
    width: 34%;
    background-color: #ee4d2d;
    color: white;
}
.OozJX2{
    margin: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.bNQH5r{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.shield{
    display: flex;
}
.shield i{
    color: #ee4d2d;
}

.Returns{
    color: #757575;
}
.l1vG0Q{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bgAzmi{
    height: 78px;
    width: 78px;
}
.bgAzmi img{
    height: 100%;
    border-radius: 50%;
}
.wri-r3{
    font-size: 13px;
    text-align: center;
    padding: 4px;
    background-color: #ee4d2d;
    color: white;
    width: 80%;
    margin-top: -9px;
}
.CR5HT0{
    padding: 10px 0;
}
.GJj1tL{
    display: flex;
}
.btn-tinted{
    display: flex;
    padding: 8px;
    border: 1px solid #ee4d2d;
    justify-content: space-between;
}
.WFQI1W{
    border: solid 1px #757575;
    display: flex;
    padding: 8px;
}
.lgvGvQ{
    display: flex;
    width: calc(40% - 5px);
    padding-right: 5px;
    border-right: 1px solid;
}
.biYJq8{
    display: flex;
    width: calc(60% - 5px);
    padding-left: 5px;
}
.JfALJ{
    display: flex;
    justify-content: space-between;
}